name: Deploy
on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Build & Deploy Assets
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/arseno_server_key
          chmod 600 ~/.ssh/arseno_server_key

      - name: Deploy
        run: |
          ssh -p 2223 senx6477@${{ secrets.SERVER_IP }} '-p 2223 bash -s' < ${{ github.workspace }}/.github/workflows/deploy.sh