name: Deploy
on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Build & Deploy Assets
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/arseno_server_key
          echo "${{ secrets.SSH_PUBLIC_KEY }}" > ~/.ssh/arseno_server_key.pub
          chmod 600 ~/.ssh/arseno_server_key
          chmod 600 ~/.ssh/arseno_server_key.pub
          ssh-keyscan -p 2223 -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Deploy
        run: |
          ssh senx6477@${{ secrets.SERVER_IP }} 'bash -s' < ${{ github.workspace }}/.github/workflows/deploy.sh