name: Notify on Merge

on:
  push:
    branches:
      - '*'

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Fetch updates from origin
        run: git fetch origin development

      - name: Identify merged commit
        run: |
          MERGED_COMMIT=$(git log origin/development..HEAD --pretty=format:"%H" -1)
          COMMIT_AUTHOR=$(git log --format="%an <%ae>" -n 1 $MERGED_COMMIT)
          COMMIT_MESSAGE=$(git log --format=%B -n 1 $MERGED_COMMIT)
          echo "MERGED_COMMIT=$MERGED_COMMIT" >> $GITHUB_ENV
          echo "COMMIT_AUTHOR=$COMMIT_AUTHOR" >> $GITHUB_ENV
          echo "COMMIT_MESSAGE=$COMMIT_MESSAGE" >> $GITHUB_ENV

      - name: Send Telegram Notification
        run: |
          curl -s -X POST https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendMessage -d chat_id=$TELEGRAM_CHAT_ID -d text="Arseno telah melakukan merge dari branch $PR_SOURCE_BRANCH ke $PR_TARGET_BRANCH di repository ini"
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
